[Unit]
Description=Debian Selftest Service
Wants=debian-powerstate.service
After=debian-powerstate.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/debian-selftest.sh

[Install]
WantedBy=multi-user.target
