[Unit]
Description=Kometa Service
Wants=debian-powerstate.service
After=debian-powerstate.service
OnSuccess=imagemaid.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/kometa-run.sh

[Install]
WantedBy=multi-user.target
