[Unit]
Description=qnap powerstate notification
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/pushNotification.sh "debian" "info" "system powered on!"
ExecStop=/usr/local/sbin/pushNotification.sh "debian" "info" "system powered off!"

[Install]
WantedBy=default.target
