[Unit]
Description=qnap selftest notification
Requires=network-online.target
Wants=qnap-powerstate.service
After=qnap-powerstate.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/selftest-run.sh

[Install]
WantedBy=default.target
